<div class="container">
  <div class="row">
    <div *ngFor="let state of states$ | async" class="col-12 col-sm-6 col-lg-4">
      <div class="card mx-auto mt-3 p-3">
        <img
          class="img-fluid"
          src="{{ state.plates }}"
          alt="Responsive image"
        />
        <div>
          <h3
            (click)="state.visible = !state.visible"
            class="state text-center"
          >
            {{ state.name | titlecase }}
          </h3>

          <h4 *ngIf="state.visible" class="capital text-center">
            {{ state.capital | titlecase }}!
          </h4>
          <div class="hide text-center">Capital?</div>
        </div>
      </div>
    </div>
  </div>
</div>
